#rgpd {

    position:absolute;

    top: 50%;
    
    width:100%;
    
    padding-top:50px;
    padding-right: 10%;
    height:50px;
    
    }

#pbregister {

    position:center;
    
    top: 80%;
    width: 100%;
    text-align:center;
}
ion-nav-link {
    margin-left: auto;
    margin-right: auto;
}